.container{
    max-width: 90vw;
    padding: 1rem;
    align-items: center;
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4.5rem; 
}

.pages{
    display: flex;
    gap: 4rem;
    font-family: "Inter", sans-serif;
    color: black;

}

.pages a{
    text-decoration: none;
}

.pages a:visited{
    color: black;
}

.pages a:hover{
    opacity: 0.6;
    transition: 0.4s;
}

.pages h3{
    font-weight: 400;
}

.buttons{
    display: flex;
    width: 3rem;
    gap: 1rem;
}
