.inputContainer{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.inputStyle{
    min-width: 100%;
    border-radius: 0.3rem;
    border: none;
    padding: 1rem 2rem 1rem 1rem; 
}

.labelStyle{
    display: block;
    font-family: "Inter", sans-serif;
    color: #586166;
}