.container {
  text-align: center;
  font-family: "Inter", sans-serif;
}

.container h1 {
  font-size: 3rem;
  margin-bottom: 0.6rem;
  color: #ffbf68;
}

.inputArea {
    border-radius: 1rem;
    background: rgba(217, 217, 217, 0.38);
    padding: 1rem;
    max-width: 45vw;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }

  .inputGroup input{
    min-width: 100%;
    border-radius: 0.3rem;
    border: none;
    padding: 1rem 2rem 1rem 1rem; 
  }

  .inputError{
    border: 1px solid red;
  }

  .errorMessage{
    color: red;
  }
  
